@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    --dark: 15 15 15;
    --grey: 70 70 70;
    --violet: 31 15 87;
}

body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(var(--dark));
}

.container, .code-auth-content {
    display: flex;
    flex-direction: column;
}

.container {
    width: clamp(28rem, 85%, 45rem);
    height: 100vh;
    margin: 0 auto;
    padding-top: 10rem;
}

.code-auth-content {
    width: 100%;
    text-align: center;
    gap: 1.2rem;
}

.code-auth-content h1 {
    font-size: clamp(2.8rem, 50%, 4rem);
    font-weight: 700;
    margin-bottom: .5rem;
}

.code-auth-content p {
    font-size: 1.75rem;
}

.code-auth-content strong {
    font-weight: 700;
}

.code-auth-content a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(var(--dark) / .6);
}